[submodule "Pathfinder"]
	path = Pathfinder
	url = https://github.com/JacisNonsense/Pathfinder.git
[submodule "pathfinder_src"]
	path = pathfinder_src
	url = https://github.com/JacisNonsense/Pathfinder.git
